.card{
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
    background-color: rgba(66, 210, 90, 0.988);
    height: 400px;
    margin-top: 100px;

}
.head{
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.button{
    width: 150px;
    height: 35px;
    background-color: orangered;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 220px;
    margin-top: 100px;
}