.backdrope {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .closeButton{
    height:8%;
    width: 4%;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.64);
    justify-content: center;
    text-align: center;
    margin-left: 83%;
    margin-top: 3%;
    border: 0px solid white;
  }

  .closeIcon{
    color: rgba(0, 0, 0, 0.774);
    background-color: transparent;
    font-size: 30px;
    margin-top: 4px;
  }
  .modal {
    top: 14%;
    left: 20%;
    width: 60%;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
    animation: slide-down 300ms ease-out forwards;
  }

  /* @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */