@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.navbar {
  padding: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
  padding-left: 7%;
  /* background-color: aqua; */
}

.list {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  margin-left: 150px;
  margin-top: 0px;
}


.list li {
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  color: white;
  border: 0px solid black;
  margin-right: 60px;
  text-decoration: none;
  padding-top: 50px;
}





.active{
  text-decoration: none;
  color:rgb(21, 255, 52);
}
.dea{
  text-decoration: none;
  color: white;
}
.dea:hover{
  color:rgb(39, 226, 255);
}
.active:hover{
  color: aqua;
}